.cab-accordion-wrapper {
  border: var(--cab-border-width, 1px) solid var(--cab-border-color, #ddd) !important;
  border-radius: 6px;
  overflow: hidden;
  direction: rtl;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--cab-row-gap, 12px);
}

.cab-accordion-item {
  border-top: 1px solid #eee;
}

.cab-accordion-item:first-child {
  border-top: none;
}

.cab-accordion-header {
  width: 100%;
  padding: var(--cab-header-padding, 1em) !important;
  background: var(--cab-bg-color, #f9f9f9) !important;
  border: none !important;
  font-size: var(--cab-font-size, 1.1rem) !important;
  text-align: right;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cab-accordion-header[aria-expanded="true"]{
  background: var(--cab-expanded-bg, #d0d6db) !important;
}

.cab-header-icon svg path {
  fill: var(--cab-header-color, #000);
}

.cab-header-title{
  color: var(--cab-header-color, #000);
}

.cab-accordion-header:hover {
  background: #f1f1f1;
}

.cab-accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: var(--cab-panel-bg, #fff) !important;
}

.cab-accordion-panel.expanded {
  overflow: visible;
}

.cab-accordion-content {
  padding: var(--cab-content-padding, 1em) !important;
  font-size: var(--cab-content-font-size, 1rem) !important;
  border-top: var(--cab-content-border-width, 1px) solid #eee !important;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cab-header-icon {
  float: left;
  display: flex;
  align-items: center;
}

.cab-arrow-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}
